body{
    
    margin:10;
    padding:10;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
    color:blcak;

  
}
body{
    background-color: #E25446;
    margin:15px;
    

}
.center{
    display:flex;
    height:850px;
    width:850px;
    margin:auto;
    margin-top:50px;
    box-shadow: 15px 15px 20px black;
    text-align: left;
    
}
.form{
    
    display:flex;
    flex-direction: column;
    width:100%;
    align-items:left;
    background-color:#FBE4E4;
    border-radius: 10px;

    
}
.form h2{
    font-size:2rem;
    margin:20px;
    color:maroon;
    top:5px;
}
form h{
    margin-top:20px;
    font-weight:600;
    font-size: 30px;
    font-family:'Poppins',sans-serif;
    margin-left:10px;
    color:#804F3B;
 
}
form p{
    font-family:'Poppins',sans-serif;
    margin-left:10px;
    color:black;

    }
    


#name{
    padding:5px;
    width:20%;
    margin:5px;
    
    outline:none;
    border-radius:10px;
    text-align: left;
  
}
#phone{
    width:200px;
    height:28px;
    border:1px solid black;
    border-radius: 3px;


}
#email{
    width:200px;
    height:28px;
    border:1px solid black;
    border-radius: 3px;


}


#submit{
    padding: 12px;
    width:40%;
    margin-top:40px;
    background-color:rgb(211, 53, 53);
    font-weight: bold;
    border:none;
    outline:none;
    border-radius: 20px;
}
#submit:hover{
    cursor:pointer;
    background-color:#E25446;
}
.question{
    margin:15px;

}




.type{
    
    margin-left:17px;
        display: flex;
        justify-content: space-between;
        height:30px;
      

}
.name{
    display:flex;
    border:1px solid black;
    border-radius: 3px;
    width:200px;
    height:28px;
}
.dj{
    margin-left:15px;
    display: flex;
    justify-content: space-between; 
    width:60%;
    height:30px;
    border-radius:5px;
}
.gender{
    display:flex;
    justify-content: center;
    align-items: center;
}

.line{
    width:830px;
    height:1px;
    background-color: rgb(26, 20, 20);
    
    
}